
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <div class="p-2">
            <input type="text" class="form-control"  placeholder="Search Task..." name="serach" >
          </div>
          <div class="ml-auto p-2">
            <button type="button" class="btn btn-dark" [routerLink]="['/user-add']" routerLinkActive="router-link-active"  ><i class="bi bi-plus-lg"></i>New
              User</button>
          </div>
        </div>
      </div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>PhoneNumber</th>
              <th>Address</th>
              <th>Actions</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.password}}</td>
              <td>{{user.phone}}</td>
              <td>
                {{user.address?.addressLine1}},
                {{user.address?.addressLine2}},
                {{user.address?.city}}
              </td>
              <td>
                <button type="button" class="btn btn-primary me-3"   (click)="onEdit(user.id)"><i class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-danger me-3" (click)="onDelete(user.id)"><i class="bi bi-trash3"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>